.whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 9999; /* Ensure it's on top of other elements */
    width: 70px;
}
